{% load static %}

body{
	background: #fff;
}

.navbar-light .navbar-brand{
	color: #fff;
	font-size: 30px;
	letter-spacing: 2px;
	font-weight: bold;
}
.navbar-light .navbar-brand:hover{
	color: #E1BEE7;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link{
	color: #fff;
	letter-spacing: 1px;
}

.navbar-light .navbar-nav .nav-link{
	color: #fff;
	letter-spacing: 1px;
}

.btn-outline-danger{
	color: #fff;
	font-weight: bold;
	border-radius: 3px;
	border-color: #E1BEE7;
}
.btn-outline-danger:hover{
	background-color: #E1BEE7;
	border-color: #E1BEE7;
}
#mapid { height: 400px; }

.carousel-item img{
    max-width: 100%;
    max-height: 100vh;
    height: auto;
}